<% if @episodes.empty? %>
<p>Nothing to see here. Move a long.</p>
<% else; episode = @episodes.shift(1).first %>
<a class="video hero" href="<%= url_for episode %>">
  <img src="http://assets.refactor.tv/episodes/<%= episode.padded_position %>/Episode<%= episode.padded_position %>-360-poster.jpg" alt="Episode #<%= episode.position %> - <%= episode.title %>" />
  <span class="title">Episode #<%= episode.position %></span>
  <span class="subtitle"><%= episode.title %></span>
  <span class="background"></span>
</a>

<h2 class="previous">Previous Episodes</h2>

<ul class="episodes">
<% @episodes.each do |episode| %>
  <li>
    <a class="video" href="<%= url_for episode %>">
      <img src="http://assets.refactor.tv/episodes/<%= episode.padded_position %>/Episode<%= episode.padded_position %>-360-poster.jpg" alt="Episode #<%= episode.position %> - <%= episode.title %>" />
      <span class="title">Episode #<%= episode.position %></span>
      <span class="subtitle"><%= episode.title %></span>
      <span class="background"></span>
    </a>

    <!--<a href="<%= episode_url(episode) %>" title="Episode #<%= episode.position %>: <%= episode.title %>"><img src="http://assets.refactor.tv/episodes/Episode<%= episode.padded_position %>-Poster.png" alt="Episode #<%= episode.position %>: <%= episode.title %>" width="150" height="150" /></a>
    <div>
      <h2><a href="<%= episode_url(episode) %>" title="Episode #<%= episode.position %>: <%= episode.title %>">Episode #<%= episode.position %> <span><%= episode.title %></span></a></h2>
      <p><%= episode.summary %> <%= link_to 'Watch Episode', episode %></p>
    </div>-->
  </li>
<% end %>
</ul>
<% end %>
