<h2>About</h2>
<p>Refactor.tv is a weekly podcast discussing web and mobile App Development, open-source software, and beer. Brought to you from San Francisco by two independent software developers <%= link_to "Sam Soffes", "http://www.samsoff.es" %>  and <%= link_to "Steve Derico", "http://www.stevederico.com" %>.</p>

<%= image_tag("http://assets.samsoff.es/images/Sam-Soffes.jpg", size: "150x150")%>
<div id="Sam">
<h3>Sam Soffes</h3>
<p>Sam is an iOS and Rails software engineer, musician, wanna be designer, and burger connoisseur. He lives in San Francisco. Sam previously worked at Synthetic (the makers of <%= link_to "Hipstamatic", "http://www.hipstamatic.com" %>). Now, He is bootstrapping a company and working on <%= link_to "Cheddar", "http://www.cheddarapp.com"%>. Follow Sam at <%= link_to "@samsoffes", "http://www.twitter.com/samsoffes" %>.</p>
</div>
<div class="bio">
<%= link_to image_tag "http://static.tumblr.com/mdnpdig/73Jm0hv40/steve_talk.jpg", width: "150" %>

<h3>Steve Derico</h3>
<p>Steve Derico is an iOS and Web Developer that loves to solve problems with software. He runs a small app development company called <%= link_to "Bixby Apps", "http://www.bixbyapps.com" %>. When not programming, he enjoys running, biking, and going to baseball games.You can follow Steve at <%= link_to "@stevederico", "http://www.twitter.com/stevederico" %>.</p>
</div>
<h2>Stay in Touch</h2>
<ul>
  <li>Email - <%= link_to "hi@refactor.tv", "mailto:hi@refactor.tv"%></li>
  <li>Twitter - <%= link_to "@refactortv", "http://www.twitter.com/refactortv"%></li>
</ul>