<h2 style="margin-top:1em">About</h2>
<p>Refactor.tv is a weekly podcast discussing web and mobile App Development, open-source software, and beer. Brought to you from San Francisco by two independent software developers <%= link_to "Sam Soffes", "http://soff.es" %>  and <%= link_to "Steve Derico", "http://www.stevederico.com" %>.</p>

<div class="episode-header">
  <%= link_to image_tag('Sam.jpg', width: 150, height: 150), 'http://soff.es' %>
  <div>
    <h3>Sam Soffes</h3>
    <p>Sam is a developer &amp; designer at <a href="http://nothingmagical.com" rel="external nofollow">Nothing Magical</a>. He lives in San Francisco and is a self-proclaimed burger connoisseur. Most of Sam's time is spent working on <a href="http://cheddarapp.com" rel="external nofollow">Cheddar</a>.</p>
    <p><%= follow_button 'soffes' %></p>
  </div>
</div>

<div class="episode-header">
  <%= link_to image_tag('Steve.jpg', width: 150, height: 150), 'http://stevederico.com' %>
  <div>
    <h3>Steve Derico</h3>
    <p>Steve Derico is an iOS and web developer that loves to solve problems with software. He runs a small app development company called <a href="http://bixbyapps.com" rel="external nofollow">Bixby Apps</a>.</p>
    <p><%= follow_button 'stevederico' %></p>
  </div>
</div>

<h2>Stay in Touch</h2>
<p>Have anything you want to hear us talk about, watch us drink, or just want to say hi, email us at <%= link_to "hi@refactor.tv", "mailto:hi@refactor.tv"%>.</p>
<p><%= follow_button 'refactortv' %></p>
