<% episode = episode_file.episode %>
<item>
  <title>Episode <%= episode.position %>: <%= episode.title %></title>
  <link><%= episode_url(episode) %></link>
  <pubDate><%= episode.published_at.rfc2822 %></pubDate>
  <dc:creator>Refactor.tv</dc:creator>
  <category>Podcast</category>
  <guid isPermaLink="false"><%= episode_url(episode) %></guid>
  <description><%= episode.summary %></description>
  <content:encoded><%= episode.summary %></content:encoded>
  <enclosure url="<%= episode_file.url %>" type="<%= episode_file.content_type %>" length="<%= episode_file.size %>" />
  <itunes:duration><%= episode.seconds %></itunes:duration>
  <itunes:subtitle><%= episode.summary %></itunes:subtitle>
  <itunes:summary><%= episode.summary %></itunes:summary>
  <itunes:keywords>iOS, apple, mac, geek, development, iPhone, cocoa, iPad, github, open source, beer, news, diggnation, ruby, rails, objective-c</itunes:keywords>
  <itunes:author>Refactor.tv</itunes:author>
  <itunes:explicit>no</itunes:explicit>
  <itunes:block>no</itunes:block>
</item>
