<h2>Episode #<%= @episode.position %> <span><%= @episode.title %></span></h2>
<p class="admin">
  <% if @episode.published? %>
  <%= link_to 'Published', @episode %>
  <% else %>
  <span>Unpublished</span>
  <% end %>
  <%= link_to 'Edit', edit_admin_episode_url(@episode) %>
</p>
<p><%= @episode.summary %></p>

<h3>Download</h3>
<ul style="margin-bottom:3em">
  <% @episode.episode_files.order('size DESC').each do |file| %>
  <li><%= link_to file.display_name, file.url %></li>
  <% end %>
</ul>

<h3>Show Notes</h3>
<div id="notes"><%= @episode.notes_html.html_safe %></div>

<p><%= button_to 'Delete Episode', [:admin, @episode], method: :delete, data: {confirm: 'Are you sure?'} %></p>
