<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= (yield(:title) && !yield(:title).empty? ? yield(:title) : 'Refactor.tv') %></title>
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" />
  <link rel="author" type="text/plain" href="http://refactor.tv/humans.txt" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag 'application' %>
  <meta property="og:site_name" content="Refactor.tv" />
  <%= yield(:head) -%>
</head>
<body>
  <header>
    <div>
      <div>
        <h1><%= link_to 'Refactor.tv', root_url %></h1>
        <p>A weekly video podcast. Find out <%= link_to 'more', about_url %>.</p>
      </div>
      <div>
        <a href="http://itunes.apple.com/us/podcast/refactor.tv/id553226099?mt=2" rel="external nofollow" class="itunes">Subscribe in iTunes</a>
      </div>
    </div>
  </header>
  <section>
  <%= yield %>
  </section>
  <footer>
    <p>Copyright &copy; <%= Date.today.year %> <a href="http://soff.es" rel="external nofollow">Sam Soffes</a> &amp; <a href="http://stevederico.com" rel="external nofollow">Steve Derico</a></p>
  </footer>
  <%= yield :end %>
  <%= javascript_include_tag 'application' %>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-39515757-1','refactor.tv');ga('send','pageview');</script>
  <% end %>
</body>
</html>
